<div class="container">
  <div class="row">
    <div class="col-auto">
      <h3><i class="fas fa-layer-group"></i> Genre Index</h3>
    </div>
  </div>
  <div class="text-right">
    <%= link_to new_genre_path, class: "btn btn-outline-primary rounded-pill", method: :get do %>
    <i class="fas fa-layer-group"></i> New
    <% end %>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="d-grid gap-3">
        <table class="table table-hover">
          <thead class="table-primary">
            <th><i class="fas fa-layer-group"></i> Genre</th>
            <th></th>
          </thead>
          <% @genres.each do |genre| %>
          <tr>
            <td><%= link_to genre.genre,genre_path(genre)%></td>
            <td>
              <div class="d-flex justify-content-end">
                <%= link_to edit_genre_path(genre),class: "btn btn-outline-dark, rounded-circle btn-lg", method: :get do %>
                <i class="far fa-edit"></i>
                <% end %>
                <%= link_to genre_path(genre),class: "btn btn-danger rounded-circle btn-lg", method: :delete, data: { confirm: "本当に削除しますか？" } do %>
                <i class="far fa-trash-alt fa-1x"></i>
                <% end %>
            </td>
          </tr>
          <% end %>
        </table>
        <p><%= link_to  root_path, class: "btn btn-default rounded-pill" do %>
          <i class="fas fa-arrow-circle-left"></i>
            Back
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>
</div>