<h3>アイテム情報一覧</h3>

<% if flash[:notice] %>
<p class="notice"><%= flash[:notice] %></p>
<% end %>
<div class="container mt-5">
  <div class="row">
    <div class="col-auto mx-5">
      <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ルーム名</th>
            <th scope="col">ルーム紹介</th>
            <th scope="col">料金</th>
            <th scope="col">住所</th>
            <th scope="col">更新日</th>
            <th scope="col">作成日</th>
            <th scope="col">ルーム画像</th>
          </tr>
        </thead>

        <tbody>
          <% @give_items.each do |give_item| %>
          <tr>
            <td scope="col"><%= link_to give_item.give_item_name,give_item_path(give_item)%></td>
            <td scope="col"><%= give_item.introduction %></td>
            <td scope="col"><%= give_item.registration_date %></td>
            <td scope="col"><%= give_item.reason %></td>
            <td scope="col"><%= give_item.updated_at.to_s(:datetime_jp) %></td>
            <td scope="col"><%= give_item.created_at.to_s(:datetime_jp)%></td>
            <td scope="col"><%= link_to give_item_path(give_item) do %>
              <% if give_item.give_item_image? %>
              <%= image_tag give_item.give_item_image.url %>
              <% end %>
              <% end %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <p><%= link_to "ホームへ戻る", root_path ,class: "btn btn-secondary"%></p>
    </div>
  </div>
</div>
(:give_people_id, :, :, :introduction, :give_item_name, :user_id, :give_item_price, :give_item_genre_id,
# :give_item_image)
