<div class="container">
  <div class="row">
    <div class="col-auto">
      <h3><i class="fa-solid fa-user"> Presenter index</i></h3>
    </div>
  </div>
  <div class="text-right">
    <p>
      <%= link_to new_give_person_path, class: "btn btn-outline-danger rounded-pill", method: :get do %>
      <i class="fa-solid fa-user"> new</i>
      <% end %>
    </p>
  </div>
</div>
<% if flash[:notice] %>
<p class="notice"><%= flash[:notice] %></p>
<% end %>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="d-grid gap-3">
        <table class="table table-hover">
          <% @give_persons.each_with_index do |give_person,i| %>
          <thead class="table-danger">
            <tr>
              <th>Presenter No. <%=i+1%></th>
              <th></th>
            </tr>
          </thead>
          <tr>
            <th><i class="fa-solid fa-user"> name</i></th>
            <td><%= link_to give_person.give_person,give_person_path(give_person)%></td>
          </tr>
          <tr>
            <th><i class="far fa-handshake"> Connection</i></th>
            <td><%= give_person.involvement %></td>
          </tr>
          <tr>
            <td>
              <%= link_to edit_give_person_path(give_person),class: "btn btn-outline-dark, rounded-circle btn-lg", method: :get do %>
              <i class="far fa-edit"></i>
              <% end %>
              <%= link_to give_person_path(give_person),class: "btn btn-danger rounded-circle btn-lg", method: :delete, data: { confirm: "本当に削除しますか？" } do %>
              <i class="far fa-trash-alt fa-1x"></i>
              <% end %></td>
            <td></td>
          </tr>
          <% end %>
        </table>
        <p><%= link_to  root_path, class: "btn btn-default rounded-pill" do %>
          <i class="fas fa-arrow-circle-left"></i>
          <span>back</span>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>