<div class="container">
  <div class="row">
    <div class="col">
      <table>
        <tr>
          <th>
            <div class="m-3">
              <h3><i class="fa-solid fa-user"></i> Presenter : <%= @give_person.give_person%></h3>
            </div>
            <p>
              <i class="fas fa-grip-horizontal"></i> Total Count : <%= @give_persons.count %> pcs 
            </p>
            <i class="fas fa-money-check-alt"></i> Total Amount : ¥ <%= @give_person.second_total_price %>
          </th>
        </tr>
      </table>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="d-grid gap-3">
          <table class="table table-hover">
            <% @give_persons.each_with_index do |give_person_give_item,i| %>
            <thead class="table-warning">
              <tr>
                <th>Item No. <%=i+1%></th>
                <th></th>
              </tr>
            </thead>
            <tr>
              <th class="border-bottom style=width 50%"><i class="fas fa-gifts"></i> Gift</th>
              <td class="border-bottom"><%= link_to give_person_give_item.product,give_item_path(@give_persons.ids)
                  %></td>
            </tr>
            <tr>
              <th><i class="far fa-user"></i> : To</th>
              <td><%= give_person_give_item.family_person.family_person %></td>
            </tr>
            <tr>
              <th class="border-bottom"><i class="far fa-money-bill-alt"></i> Amount</th>
              <td class="border-bottom"><%= give_person_give_item.price %></td>
            </tr>
            <tr>
              <th><i class="far fa-comment-dots"></i> Reason</th>
              <td class="border-bottom"><%= give_person_give_item.reason %></td>
            </tr>
            <tr>
              <th><i class="far fa-calendar-alt"></i> Date</th>
              <td><%= give_person_give_item.give_day %></td>
            </tr>
            <% end %>
          </table>
        </div>
      </div>
      <div class="container">
        <p>
          <%= link_to  give_persons_path, class: "btn btn-default rounded-pill" do %>
          <i class="fas fa-arrow-circle-left"></i>
            Back
          <% end %>
          <%= link_to root_path, class: "btn btn-secondary rounded-pill" do %>
          <i class="fas fa-home"></i> Home
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>
