<div class="bg">
  <div class="container">
    <div class="row">
      <div class="mx-auto" style="width: auto;">
        <h1> Give & Sent</h1>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-around">
      <%= link_to give_items_path, class: "btn btn-danger rounded-pill", method: :get do %>
      <i class="fas fa-gift"></i> Gift Item
      <% end %>
      <%= link_to sent_items_path, class: "btn btn-info rounded-pill", method: :get do %>
      <i class="fas fa-gift"></i> Sent Item
      <% end %>
    </div>
    <div class="row justify-content-around">
      <%= link_to give_persons_path, class: "btn btn-warning rounded-pill", method: :get do %>
      <i class="fa-solid fa-people-group "></i> Presenter
      <% end %>
      <%= link_to sent_persons_path, class: "btn btn-secondary rounded-pill", method: :get do %>
      <i class="fas fa-user-friends"></i> Senter
      <% end %>
    </div>
    <div class="row justify-content-around">
      <%= link_to family_persons_path, class: "btn btn-success rounded-pill", method: :get do %>
      <i class=" fa-solid fa-users"></i> Family
      <% end %>
      <%= link_to genres_path, class: "btn btn-primary rounded-pill", method: :get do %>
      <i class="fas fa-layer-group "></i> Genre
      <% end %>
    </div>
  </div>
</div>