<div class="container">
  <%= render "shared/error_messages" ,obj: @family_person %>
  <% if flash.now[:notice] %>
  <p class="notice"><%= flash.now[:notice] %></p>
  <% end %>
  <h3><i class=" fa-solid fa-users"></i> Family Edit</h3>
</div>
<div class="row">
  <div class="col mx-3">
    <table class="thead-dark">
      <%= form_with model: @family_person,local: true do |f| %>
      <tr>
        <div class="form-group">
          <th style="width: 45%"><i class=" fa-solid fa-users"></i> Family Person</th>
          <th style="width: 5%">
            <div class="badge badge-danger"> required</div>
          </th>
          <td style="width: auto%"><%= f.text_field :family_person, class: "form-control"%></td>
        </div>
      </tr>
    </table>
    <div>
      <p class="mt-5">
        <%= link_to  family_persons_path, class: "btn btn-default rounded-pill" do %>
        <i class="fas fa-arrow-circle-left"></i>
          Back
        <% end %>
        <%= f.button :type => "submit", class: "btn btn-primary rounded-pill" do %>
        <i class="far fa-check-circle"></i> Save
        <% end %>
        <%= link_to root_path, class: "btn btn-secondary rounded-pill" do %>
        <i class="fas fa-home"></i> Home
        <% end %>
      </p>
    </div>
    <% end %>
  </div>
</div>