<div class="container">
  <div class="row">
    <div class="col-md-6">
      <table>
        <tr>
          <th>
            <div class="mx-3">
              <i class="fa-solid fa-user fa-2x"> family : </i>
            </div>
          </th>
          <td>
            <h3><%= @family_person.family_person%></h3>
          </td>
        </tr>
      </table>
    </div>
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="d-grid gap-3">
            <table class="table table-hover">
              <% @family_persons.each_with_index do |family_person_give_item,i| %>
              <thead class="table-success">
                <tr>
                  <th>ITEM No. <%=i+1%></th>
                  <th></th>
                </tr>
              </thead>
              <tr>
                <th class="border-bottom style=width 50%"><i class="fas fa-gifts"> gift</i></th>
                <td class="border-bottom">
                  <%= link_to family_person_give_item.product,give_item_path(@family_persons.ids) %>
                </td>
              </tr>
              <tr>
                <th><i class="far fa-user"> : from</i></th>
                <td><%= family_person_give_item.give_person.give_person %></td>
              </tr>
              <tr>
                <th class="border-bottom"><i class="far fa-money-bill-alt"> amount</i></th>
                <td class="border-bottom"><%= family_person_give_item.price %></td>
              </tr>
              <tr>
                <th><i class="far fa-comment-dots"> reason</i></th>
                <td class="border-bottom"><%= family_person_give_item.reason %></td>
              </tr>
              <tr>
                <th><i class="far fa-calendar-alt"> date</i></th>
                <td><%= family_person_give_item.give_day %></td>
              </tr>
              <% end %>
            </table>
          </div>
        </div>
        <div class="container">
          <p>
            <%= link_to  family_persons_path, class: "btn btn-default rounded-pill" do %>
            <i class="fas fa-arrow-circle-left"></i>
            <span>back</span>
            <% end %>
            <%= link_to root_path, class: "btn btn-secondary rounded-pill" do %>
            <i class="fas fa-home"> home</i>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>