<div class="container">
  <%= render "shared/error_messages" ,obj: @sent_person %>
  <% if flash.now[:notice] %>
  <p class="notice"><%= flash.now[:notice] %></p>
  <% end %>
</div>
<div class="row">
  <div class="col mx-3">
    <table class="thead-dark">
      <%= form_with model: @sent_person, url: {controller: 'sent_persons', action: 'create' } , local: true do |f| %>
      <tr>
        <div class="form-group">
          <th style="width: 40%"><i class="fa-solid fa-user">　senter</th>
          <th style="width: 5%">
            <div class="badge badge-danger"> required</div>
          </th>
          <td style="width: 55%"><%= f.text_field :sent_person, class: "form-control"%></td>
        </div>
      </tr>
      <tr>
        <div class="form-group">
          <th style="width: 40%"><i class="far fa-handshake"> Connection</i></th>
          <th style="width: 5%">
            <div class="badge badge-danger"> required</div>
          </th>
          <td style="width: 55%"><%= f.text_field :involvement, class: "form-control"%></td>
        </div>
      </tr>
    </table>
    <div>
      <p class="mt-5">
        <%= link_to  sent_persons_path, class: "btn btn-default rounded-pill" do %>
        <i class="fas fa-arrow-circle-left"></i>
        <span>back</span>
        <% end %>
        <%= f.button :type => "submit", class: "btn btn-primary rounded-pill" do %>
        <i class="far fa-check-circle"> save</i>
        <% end %>
        <%= link_to root_path, class: "btn btn-secondary rounded-pill" do %>
        <i class="fas fa-home"> home</i>
        <% end %>
      </p>
    </div>
    <% end %>
  </div>
</div>
</div>