<!DOCTYPE html>
<html>

<head>
  <title>family-App</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
  </script>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_pack_tag 'application' %>
</head>
<header>
  <nav class="navbar navbar-light bg-light">
    <%= link_to 'Give & Sent', root_path, class: "navbar-brand" %>
    <%= search_form_for @first_search, url: search_give_items_path do |f| %>
    <%=f.search_field :product_or_give_person_give_person_or_family_person_family_person_or_reason_or_give_day_or_genre_genre_cont,class:"form-control ", placeholder: "GIVE ITEM キーワード"%>
    <% end %>
    <%= search_form_for @second_search, url: search_sent_items_path do |f| %>
    <%=f.search_field :product_or_sent_person_sent_person_or_family_person_family_person_or_reason_or_sent_day_or_genre_genre_cont,class:"form-control", placeholder: "SENT ITEM キーワード"%>
    <% end %>
    <% if user_signed_in? %>
    <div class="d-flex justify-content-start mb-2">
      <div class="ml-auto">
        <div class="dropdown">
          <i class="fas fa-child"></i> <%= current_user.name %>
          <button id="btnOpenMenu" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="true">
            <% if current_user.image? %>
            <img src=<%= current_user.image %> class="icon_image">
            <% else %>
            <%= image_tag "/assets/default.png", class: "icon_image" %>
            <% end %>
          </button>
          <ul class="dropdown-menu" aria-labelledby="btnOpenMenu">
            <li>
              <a class="dropdown-item" href="#"><%= link_to "設定", user_path(current_user), class: "nav-link"%></a>
            </li>
            <li>
              <a class="dropdown-item"
                href="#"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete , class: "nav-link"%></a>
            </li>
          </ul>
        </div>
        <% else %>
        <div class="login" id="Navber">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <%= link_to new_user_session_path, class: "btn btn-secondary rounded-pill" do %>
              <i class="fas fa-user-check">ログイン</i>
              <% end %>
              <div class="mt-3">
                <%= link_to new_user_registration_path, class: "btn btn-primary rounded-pill" do %>
                <i class="fas fa-baby">新規登録</i>
                <% end %>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <% end %>
    </div>
  </nav>
</header>
<%= render "shared/flash" %>
<%= yield %>
</body>
<%= render "shared/footer" %>

</html>